<section class="tui-container tui-container_fullwidth">
    <a
        appearance="flat"
        [routerLink]="['..']"
        icon="tuiIconArrowLeft"
        size="s"
        class="p-3"
        tuiButton
    >
        Back to Practice
    </a>
    <div class="py-4">
        <label class="tui-text_body-l">
            List View
            <tui-toggle
                [(ngModel)]="enableListView"
                size="m"
                class="p-2"
            ></tui-toggle>
        </label>
    </div>
    <app-concept-list *ngIf="enableListView" [currCourse]="course"></app-concept-list>
    <app-concept-map *ngIf="!enableListView" [currCourse]="course"></app-concept-map>
</section>
