<section class="tui-container tui-container_fullwidth">
    <a
        appearance="flat"
        [routerLink]="['..']"
        icon="tuiIconArrowLeft"
        size="s"
        class="p-3"
        tuiButton
    >
        Back to Practice
    </a>
    <tui-tabs>
        <button
            tuiTab
            (click)="enableListView = false"
        >
            Concept Map
        </button>
        <button
            tuiTab
            (click)="enableListView = true"
        >
            List View
        </button>
    </tui-tabs>
    <div class="py-3"></div>
    <app-concept-list *ngIf="enableListView" [currCourse]="course"></app-concept-list>
    <app-concept-map *ngIf="!enableListView" [currCourse]="course"></app-concept-map>
</section>
